@require '~vuepress-plugin-tabs/dist/themes/default.styl'

.theme-default-content:not(.custom)
    max-width: 1140px
.navbar .site-name
    display: none
.multicolumn > .multicolumn-column:first-of-type
    margin-right: 1em
.content__default h1,
.content__default h2,
.content__default h3
    margin-left: -18px
.sidebar
    width: 18rem
.page-nav,
.page-edit
    max-width: 100% !important
.page-nav .inner
    padding: 0 3rem
