code,
kbd,
.line-number
    font-family: "Fira Code", "Source Code Pro", Menlo, Monaco, Consolas, "Lucisa Console", monospace

.theme-default-content pre code, .theme-default-content pre[class*="language-"] code
    color: #000

div[class*="language-"]
    background-color: #eae7e9

// .token.comment,
// .token.block-comment,
// .token.prolog,
// .token.doctype,
// .token.cdata {
// 	color: #999;
// }


.token.punctuation,
.token.operator,
.token.entity,
.token.url
	color: #333

.token.boolean,
.token.number,
.token.function
    color: #0092FF

.token.property,
.token.class-name,
.token.constant,
.token.symbol
    color: #37ae6f

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin
    color: #ff0d68

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable
    color: #833FE3
