.custom-block.new
    position: relative
    padding: 0.1rem 1.5rem
    border-left-width: 0.5rem
    border-left-style: solid
    margin: 1rem 0

    background-color: #fff7d0
    border-color: #e7c000

    &:before
        content: '🌟'
        font-size: 1.5em
        position: absolute
        top: 0.5em
        right: 0.25em

.custom-block.warning
    background-color: #FFE5B4
    border-color: #FFB33E

    .custom-block-title
        color: #7A551E

.sidebar-links
    &>li>a
        position: relative

        &:before
            content: '- '
            position: absolute
            left: 1rem

.sidebar-sub-headers
    a.sidebar-link
        color: #777

.collapsable .sidebar-heading
    cursor: pointer !important

.language-sh code::before
	content: '▶ '
