@require '~vuepress-plugin-tabs/dist/themes/default.styl'
@require 'breakpoints.styl'
@require 'custom.styl'
@require 'code.styl'
@require 'darkmode.styl'

html
    background-color: initial
main.home,
.theme-default-content:not(.custom)
    max-width: 1140px
.navbar .site-name
    display: none
.content__default h1,
.content__default h2,
.content__default h3
    margin-left: -18px
.tabs-component-panels h3
    margin-left: 0
.sidebar
    width: 18rem
.page-nav,
.page-edit
    max-width: 100% !important
.page-nav .inner,
.page-edit div
    padding: 0 3rem
div[class*="language-"]
    overflow: visible !important
// Hack for placing fixed banner at the bottom of the page
// .sidebar::after
//     content: "BETA: This site is still under development and is not expected to complete until v21.3"
//     position: fixed
//     bottom: 1rem
//     left: 1rem
//     right: 1rem
//     display: block
//     background: #ff0d68
//     border-radius: 5px
//     padding: 0.75em
//     color: #fff
.intro table thead,
.intro table a span
    display: none
.multicolumn
    flex-direction: column !important
.theme-default-content
    code
        white-space: nowrap
    div[class*="language-"]
        code
            white-space: pre

+srb-gt-md()
    .multicolumn > .multicolumn-column:first-of-type
        margin-right: 1em
    .multicolumn > .multicolumn-column h3
        margin-left: 0
    .multicolumn
        flex-direction: row !important
        .multicolumn-column
            width: 0
            flex: 1 1 0 !important
            overflow: auto


// Hack for fixing page scroll when switching tabs
// https://github.com/pskordilakis/vuepress-plugin-tabs/issues/21
section.tabs-component-panel::before
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 12em;
    margin-top: -12em;

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable)
    opacity: 1 !important

.sidebar-group.is-sub-group > .sidebar-heading
    font-size: 1em  !important
    font-weight: 400
    display: inline-block
    color: #2c3e50 !important

    // &::before
    //     content: '- ';
    //     position: absolute;
    //     left: 1rem;

.home .hero .description
    max-width: 48ch !important
    font-family: "Fira Code", "Source Code Pro", Menlo, Monaco, Consolas, "Lucisa Console", monospace

a
    display: inline-block

.landing-page .theme-default-content
    width: 90%
    margin: auto

.code-copy
	position: absolute
	right: 0.25rem
	bottom: 0.25rem
